#body{
    height: 600px;
    max-height: 100%;
    width: 350px;
    max-width: 100%;
    margin: auto; 
    border: solid black .1px;
    position: relative;
    background-color: beige;
}
#display{
    height: 20%;
    max-height: 20%;
    width: auto;
    margin: 2%; 
    background-color: rosybrown;
    border: solid black .1px;
    position: relative;
}
#numpad{
    height: 78%;
    max-height: 76%;
    width: auto;
    margin: 2%; 
    background-color: aqua;
    border: solid black .1px;
    position: relative;
}